<div>
  <h1>Editing Book</h1>
</div>

<% if @book.errors.any? %>
  <ul>
      <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
  </ul>
<% end %>

<%= form_with model: @book, url: '/books/'+@book.id.to_s, method: :patch do |f| %>
  <div>Title</div>
  <div>
    <%= f.text_field :title %>
  </div>
  <div class="title_input">Body</div>
  <div>
    <%= f.text_area :body %>
  </div>
  <div  class="button_submit">
    <%= f.submit 'Update Book' %>
  </div>
<% end %>

<div class="button_inline">
  <%=link_to"Show", book_path(@book.id) %>
  <p>|</p>
  <%=link_to"Back", books_path %>
</div>