<h1>Editing Book</h1>
  <%= form_with model: @book, url: '/books/'+@book.id.to_s, method: :put do |f| %>
    <p>Title</p>
    <p><%= f.text_field :title %></p>
    <p>Body</p>
    <p><%= f.text_area :body %></p>
    <%= f.submit 'Update Book' %>
  <% end %>
  <%=link_to"Show", book_path(@book.id) %>
  |
  <%=link_to"Back", books_path %>